{% extends "bootstrap/base.html" %}
{% block title %}Toolbox{% endblock %}
{% block navbar %}
<div class="container">
        <div class="navbar navbar-inverse">
                <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">toolbox</a>
                </div>
                <div class="navbar-collapse collapse">
                        <ul class= "nav navbar-nav" >
                                <li><a href= "/password" > password generator </a></li>
                                <li><a href= "/passphrase" > passphrase generator </a></li>
                        </ul>
                </div>
	</div>
</div>

{% endblock %}
